<h1 class="h1-style">HOW IT WORK</h1>
<div class="home-work-card-group">
<app-how-work-card [isSmall]="true" [title]="'Fake data'" [description]="'No more tedious sample data creation, we`ve got it covered.'" [image]="'assets/img/how-work-card-1.png'"></app-how-work-card>
<app-how-work-card [isSmall]="true" [title]="'Real responses'" [description]="'Develop with real response codes. GET, POST, PUT & DELETE.'" [image]="'assets/img/how-work-card-2.png'"></app-how-work-card>
<app-how-work-card [isSmall]="true" [title]="'Always-on'" [description]="'24/7 free access in your development phases. Go nuts.'" [image]="'assets/img/how-work-card-3.png'"></app-how-work-card>
</div>
