.home-work-card-group{
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: center;
  align-content: center;
}
.h1-style{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 200px;
  font-family: "Roboto",sans-serif;
  color: #505052;
}
@media all and (max-width: 765px){
  .home-work-card-group{
    flex-direction: column;
    justify-content: center;
  }
  .h1-style{
    margin-top: 10px;
  }
}
