.btn-top {
  position: fixed;
  bottom: 10px;
  left: 10px;
  opacity: 0.5;
  border-radius: 100px;
  height: 70px;
  width: 70px;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.btn-top:hover {
  opacity: 1;
}
