.home-work-card{
  height: auto;
  width: 300px;
  padding: 10px;
  background: #D2D2D2;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  border-radius: 15px;
  padding-left: 0!important;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.responsive-img{
  max-height: 171px;
  object-fit: cover;
  margin: 20px 0 0 0;
  max-width: 100%;
  height: auto;
  text-align: center;
}
.how-work-card__title{
  font-size: 1.5em!important;
  padding-left: 1.5rem;
  line-height: 2.212rem!important;
  margin: 3rem 10px 1.168rem 10px!important;
  color: #231F1F;
  font-family: "Roboto",sans-serif;
  text-align: center;
  height: 70px;
}
.card-text{
  padding: .05rem 2.5rem 0;
  color: #231F1F;
  font-size: 17px;
  font-family: "Roboto",sans-serif;
  text-align: center;
}
